.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.form {
  margin-bottom: 40px;
}
  
.form-control{
  display: block;
  width: 90%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
  text-align: center;
}

.header {
  margin-top: 30px;
  text-align: center;
}

.navigation-link {
  position: absolute;
  width: 100%;
  text-align: center;
}